<?xml version="1.0" encoding="UTF-8" ?>
<!--
////////////////////////////////////////////////////////////////////////////////
initialExtent="-122.2 24.89 -70.59 46.92" extent to start on
initialLocation -instead of an extent you can use an x,y then specify initialLOD
initialLOD - is the zoom bar level to start at- use with initial Location, not extent

basemaps - tile cache layers that toggle- only one on at a time
referencemaps- can be tiled or dynamic- non-interactive but can be on at the same time as base (shows on slider)
operational - dynamic layers- be sure you use ids that you can reference later
////////////////////////////////////////////////////////////////////////////////
-->
<configuration>

<map initialExtent="-14853279.584748 1717191.36148896 -6693627.51829702 7385220.65335129" 
	fullExtent="-14853279.584748 1717191.36148896 -6693627.51829702 7385220.65335129" 
	initialLocation="-71.71,42.06" 
	initialLOD="2" 
	wraparound180="true">
	
	<basemaps>	
		<mapservice label="Imagery" 
			type="tiled" 
			visible="false" 
			alpha="1" 
			layerid="imageryMap"
			defaultTabLayer="false">http://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer</mapservice>
		<mapservice label="Nautical" 
			type="image" 
			visible="false" 
			alpha="1" 
			layerid="rncMap"
			defaultTabLayer="false">http://egisws02.nos.noaa.gov/ArcGIS/rest/services/RNC/NOAA_RNC/ImageServer</mapservice>
		<mapservice label="Ocean"
			type="tiled"
			visible="true"
			alpha="1"
			layerid="oceanMap"
			defaultTabLayer="false">http://services.arcgisonline.com/ArcGIS/rest/services/Ocean_Basemap/MapServer</mapservice>
			
		<mapservice label="Topo" 
			type="tiled" 
			visible="false" 
			alpha="1" 
			layerid="streetMap"
			defaultTabLayer="false">http://server.arcgisonline.com/ArcGIS/rest/services/World_Topo_Map/MapServer</mapservice>				
	</basemaps>		
	<referencemaps></referencemaps> 
	<operationalmaps>	
		<mapservice label="ngdc" vislayers="9999" type="tiled" visible="false" alpha="1" id="ngdc">http://maps.ngdc.noaa.gov/arcgis/rest/services/web_mercator/dem_hillshades_mosaic/MapServer</mapservice>
		<mapservice label="montauk" vislayers="9999" type="dynamic" visible="false" alpha="1" id="montauk">http://50.19.218.171/arcgis1/rest/services/Bathymetry/MontaukToNantucketShoalsBathymetry/MapServer</mapservice>	
		
		
		<mapservice label="Physical Oceanography" vislayers="9999" type="dynamic" visible="true" alpha="1" id="physocean">http://50.19.218.171/arcgis1/rest/services/PhysicalOceanography/MapServer</mapservice>
		<mapservice label="Biology" vislayers="9999" type="dynamic" visible="true" alpha="1" id="bio">http://50.19.218.171/arcgis1/rest/services/Biology/MapServer</mapservice>
		<mapservice label="Oceanography" vislayers="9999" type="dynamic" visible="true" alpha="1" id="ocean">http://50.19.218.171/arcgis1/rest/services/OceanUses/MapServer</mapservice>
		<mapservice label="Administrative" vislayers="0" type="dynamic" visible="true" alpha="1" id="admin">http://50.19.218.171/arcgis1/rest/services/Administrative/MapServer</mapservice>
		<mapservice label="Tribal" vislayers="9999" type="dynamic" visible="true" alpha="1" id="tribe">http://coast.noaa.gov/arcgis/rest/services/MarineCadastre/NationalViewer/MapServer</mapservice>
		<mapservice label="NPS" vislayers="9999" type="dynamic" visible="true" alpha="1" id="nps">https://mapservices.nps.gov/arcgis/rest/services/LandResourcesDivisionTractAndBoundaryService/MapServer</mapservice>
		<mapservice label="Birds" vislayers="9999" type="dynamic" visible="true" alpha="1" id="birds">http://coast.noaa.gov/arcgis/rest/services/MarineCadastre/AvianAverageAnnualAbundance/MapServer</mapservice>
		<mapservice label="Beaches" vislayers="9999" type="dynamic" visible="true" alpha="1" id="beach">http://watersgeo.epa.gov/arcgis/rest/services/OWPROGRAM/BEACON_NAD83/MapServer/</mapservice>
		<mapservice label="FishMgmt" vislayers="9999" type="dynamic" visible="true" alpha="1" id="fedfishmgmt">http://50.19.218.171/arcgis1/rest/services/OceanUses/FederalFisheryManagement/MapServer</mapservice>
		
		<mapservice label="Corals" vislayers="9999" type="dynamic" visible="true" alpha="1" id="coral">http://coast.noaa.gov/arcgis/rest/services/MarineCadastre/DeepSeaCorals/MapServer</mapservice>		
		<mapservice label="HAPC" vislayers="9999" type="dynamic" visible="true" alpha="1" id="hapc">http://egisws02.nos.noaa.gov/ArcGIS/rest/services/NMFS/HAPC/MapServer</mapservice>		
		<mapservice label="EFH" vislayers="9999" type="dynamic" visible="true" alpha="1" id="efh">http://egisws02.nos.noaa.gov/ArcGIS/rest/services/NMFS/EFHAreasProtectedFromFishing/MapServer</mapservice>	
		<mapservice label="MMCphys" vislayers="9999" type="dynamic" visible="true" alpha="1" id="mmcph">http://coast.noaa.gov/arcgis/rest/services/MarineCadastre/PhysicalOceanographicAndMarineHabitat/MapServer/</mapservice>
		<mapservice label="seclands" vislayers="9999" type="tiled" visible="false" alpha="1" id="seclands">http://50.19.218.171/arcgis1/rest/services/SecuredLands2012/MapServer</mapservice>
		<mapservice label="Reference" vislayers="9999" type="dynamic" visible="true" alpha="1" id="ref">http://50.19.218.171/arcgis1/rest/services/Reference/MapServer</mapservice>
	</operationalmaps> 
	<graphiclayers>
	
		<graphicservice label="Draw Tool Graphics" id="drawGraphicsLayer"/>
	
	</graphiclayers>			
</map>
<links>
	<link name="httpServiceUrl" value="" />
</links>
</configuration>